.DS_Store
*.class

# Package Files #
*.jar
*.war
*.ear

# IDEA #
*.iml
.idea
*.vpdm
*.log
# eclipse specific git ignore
vpproject
.metadata
rebel.xml
*DB
*.dat
.classpath
.settings/

WebContent
# Maven files #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties